<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <link href="img/logo-2.png" rel="icon" type="image/x-icon">
  <title>
    welcome to bitm
  </title>
  <link href="style.css" rel="stylesheet">
  <link href="adminHome.css" rel="stylesheet">
  <link href="applied" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
          integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
          integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
          crossorigin="anonymous"></script>
</head>

<body class="bg-success">
<div class="containers">
  <header>
    <img class="logo" src="img/bitm-logo-new.png" width="100px">
    <h1>
      <p>Ballari institute of technology and management ballari</p>
      <p id="sport-heading">sports management system</p>
    </h1>
    <div class="clear"></div>
  </header>
  <nav>
    <a class="home" href="notification">Notification</a>
    <a class="username" href="adminApplication">Application Controller</a>
    <a href="#">Applied Student</a>
    <a href="report">Previous year Detail</a>
    <a href="index">Logout</a>
  </nav>
  <main class="container mt-3">
    <section class="notifications">
      <form method="post">
        <h2 class="heading_notification">Applied Student</h2>
        <table class="table">
          <thead>
          <tr> <!-- Checkbox column -->
            <th>Select</th>
            <th>USN</th>
            <th>Name</th>
            <th>Type of Sport</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="notification : ${list}">
            <td>
              <input type="checkbox" class="form-check-input" name="selected" th:value="${notification.id}">
            </td>
            <td th:text="${notification.usn}">Hello</td>
            <td ><span th:text="*{notification.firstName}"><span th:text="*{notification.lastName}"></span></td>
            <td th:text="${notification.type}">30/06/2020</td>
          </tr>
          </tbody>
        </table>
        <button type="submit" name="delete" value="true" class="btn btn-danger">Delete</button>
      </form>
    </section>
  </main>
</div>
</body>

</html>